/* Fonts Family  */

.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: normal;
}

/* --------------------------------------- */




/*  Header ,Nav and Button Section */

.header {
  background-color: #f5f5f5;
  justify-content: center;
  padding: 24px 160px 24px 160px;
}

.navbar {
  display: flex;
  background-color: #f5f5f5;
  align-items: center;
  justify-content: space-between;
}


.signin-btn {
  font-size: 18px;
  color: #006A50;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  border: 1px;
  border-style: solid;
  border-color: #006A50;
}

/* Header ,Nav and Button Section Close */

/* Banner Section */

.banner-sec {
  display: flex;
  align-items: center;
  padding: 80px 100px;
  background-color: #c6e4d6;
  border-radius: 24px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.banner-sec-title {
  font-size: 24px;
  color: #0d0d0d80;
  margin-top: 117px;
}
.banner-sec-body-text {
  font-size: 56px;
  color: #0d0d0d;
  margin-top: 16px;
}
.banner-btn {
  width: 270px;
  height: 56px;
  /* padding: 17px 30px; */
  background-color: #006a50;
  gap: 48px;
  border-radius: 8px;
}
.banner-btn-txt {
  font-size: 18px;
  color: #ffffff;
}

/* Banner Section Close */